.p-10{
    padding: 0px 20px;
}

.container{
    display: flex;
    align-items: baseline;
}

.icon-container{
    display: flex;
    font-size: 20px;
    padding: 10px;
    justify-content: space-between;
}

.delete{
    color: red;
    cursor: pointer;
}

.edit{
    color: #4444a7;
    cursor: pointer;
}

.buttons-container{
    display: flex;
}

.dialog-container{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 400px;
}

.ui-inputtext{
    width: 400px !important;
}

.ui-widget{
    width: 400px !important;
}