/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/primeng.min.css';

.login-inputs{
    margin: 20px 20px 0px 0px;
}

.login-button{
    margin:10px 0px;
}

body{
    margin: 0;
    background-color: #595959;
}

.app-content{
    padding: 15px 20px 130px 20px;
    height: calc(100vh - 20px);
}

.login{
    background-color: #bdbdbd;
    border-radius: 10px;
    padding: 15px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login h2{
    color: #4848a0;
}

h1{
    color: white;
    margin-top: 0px
}

.ui-rating a {
    color: yellow !important;
    cursor: pointer;
}

.ui-rating a span{
    font-size: 25px !important;
}

.courses-list-container{
    display: flex;
    flex-flow: wrap;
}

.course-item{
    width: 500px;
    height: 150px;
    margin:10px;
    display: flex;
}

.first{
    width: 200px;
    background-color: #4591cc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.title-wrapper{
    display: flex;
    justify-content: space-between;
}

.title-wrapper .icon{
    padding: 10px;
    font-size: 20px;
}

.title-wrapper .icon:hover{
    cursor: pointer;
    color: #cb4e4e;
}

.not-liked{
    color: white;
}

.liked{
    color: #cb4e4e;
}

.title{
    font-size: 20px;
    color: white;
    font-weight: 600;
    padding: 10px 10px 0px 10px;
}

.rating{
    padding: 0px 10px;
    display: flex;
}

.star-icon{
    margin-left: 10px;
    color: yellow;
}

.first .date{
    font-size: 14px;
    color: white;
    padding: 0px 10px 10px 10px;
}

.second{
    width: 300px;
    background-color: white;
    border-top: 1px solid #4591cc;
    border-bottom: 1px solid #4591cc;
    border-right: 1px solid #4591cc;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    color: #4591cc;
}

.date-wrapper{
    display: flex;
    justify-content: space-between;
}

.rating-stars{
    padding: 0px 10px;
}