/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/primeng.min.css';

.login-inputs{
    margin: 20px 20px 0px 0px;
}

.login-button{
    margin:10px 0px;
}

body{
    margin: 0;
    background-color: #595959;
}

.app-content{
    padding: 15px 20px 130px 20px;
    height: calc(100vh - 20px);
}

.login{
    background-color: #bdbdbd;
    border-radius: 10px;
    padding: 15px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login h2{
    color: #4848a0;
}

h1{
    color: white;
    margin-top: 0px
}

.ui-rating a {
    color: yellow !important;
    cursor: pointer;
}

.ui-rating a span{
    font-size: 25px !important;
}